@import "tailwindcss";

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden; /* prevent scrollbars for the full screen app */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
